.btn {
  height: 6rem;
  display: grid;
  place-content: center;
  padding: 2rem 2.25rem;
  border-radius: 10px;
  border: 2px solid transparent;
  white-space: nowrap;
  background-color: #fcac0d;
  line-height: 1.95rem;

  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  @media (max-width: 434px) {
    font-size: 1.4rem;
    padding: 2rem 2rem;
  }

  &--outlined {
    border: 2px solid #fcac0d;
    background-color: transparent;
  }
}

.kef-link {
  color: #fcac0d;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
}

// Utils
.scroll_hide::-webkit-scrollbar {
  display: none;
}

.scroll_hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// Shadows
.yellow-shadow {
  box-shadow: 0px 18px 44px rgba(252, 172, 13, 0.55);
}

.white-shadow {
  box-shadow: 0px 10px 34px rgba(255, 255, 255, 0.23);
}

.default-shadow {
  box-shadow: -10px 4px 40px rgba(0, 0, 0, 0.05);
}

// Auth Components
.auth-form {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  label {
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: #8e8e8e;
    margin-bottom: 0.8rem;
  }
  input {
    background: #f8f9fd;
    border: 1px solid #bebdbd;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem 4.5rem;

    @media (max-width: 400px) {
      padding: 2rem 2rem;
    }

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    &::placeholder {
      font-family: Montserrat;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: 0em;
      text-align: left;
    }

    &:focus {
      outline: none;
    }
  }
}

.auth-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(44px);
  max-width: 62.4rem;
  margin: 0 auto;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 2rem;
  padding: 5.6rem 7.4rem;

  h3 {
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 1.3rem;
  }

  p {
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: white;

    // font-family: Montserrat;
    // font-size: 16px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 26px;
    // letter-spacing: 0em;
    // text-align: left;
  }
}

// MUI UI styles
// Dialog
.MuiPaper-root {
  border-radius: 2rem;
}

.MuiDialog-container .MuiPaper-root {
  max-width: max-content;
  columns: yellow;
}

// Radio
.MuiRadio-root {
  padding: 0;
  color: black;

  &.Mui-checked {
    .MuiSvgIcon-root {
      &:nth-child(2) {
        color: var(--color-primary);
      }
    }
  }
}

.MuiRadio-root .MuiSvgIcon-root {
  font-size: 2rem;
}

.MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.849);
}

.MuiModal-root .MuiDialog-container .MuiPaper-root {
  margin: 16px !important;
  // max-height: fit-content;
  max-height: 88vh;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

// Popup Forms
.popup-form {
  label {
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    margin-bottom: 0.8rem;
    letter-spacing: 0em;
    text-align: left;
  }
  input {
    background: #f8f9fd;
    outline: 1px solid #bebdbd;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem 5.4rem;

    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    color: black;

    &:focus {
      outline: 2px solid #fcac0d;
    }
    &::placeholder {
      color: #d5d6d8;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  select {
    background: #f8f9fd;
    outline: 1px solid #bebdbd;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem 5.4rem;

    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
    background-position: 90%;
    background-size: 2.1rem;
    background-repeat: no-repeat;
    &:focus {
      outline: 2px solid #fcac0d;
    }
  }

  .form-group {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
  }
}

// Profile Forms
.profile-form {
  label {
    color: #575757;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0.8rem;
  }

  span {
    color: #969696;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: left;
  }
}
